*.docx
*.iml
.idea/
.gradle
.git
gradle
build/
backend/img/cover.indd
rms.mv.tmp/
src/test/resources/
backend/img/raw/*
backend/img/thumbs*
backend/out
backend/build
frontend/node_modules/
frontend/.gradle
