/target
/backend/secret
# common
build/
.gradle/
gradle
*.iml
.idea
out
Thumbs.db
*.log

# backend
backend/build
backend/.gradle

# frontend
frontend/$npm_package_config_buildDir
frontend/node_modules
frontend/build

*.tmp
backend/rms.mv.db
