/rms.mv.db
/rms.lock.db
/src/main/webapp/_
/img/thumbs_med
/img/thumbs_low
/img/not_in_use
/rms.trace.db
/target
/project/project
/project/target
/.idea
/backend.iml
/secret
/img/raw
/src/main/resources/c3p0.properties
/src/main/resources/dropbox_token
/src/main/resources/conf.properties
/src/main/resources/rms.mv.db
/db/rms.trace.db
/db/rms.h2.db

/src/main/webapp/js/
/src/main/webapp/assets/
/src/main/webapp/css/
