.navbar {
  border-radius: 0;
}

.navbar {
  min-height: $header-height;
  opacity: .94;
}

.nav {
  padding-right: 10px;
}

.navbar-default {
  border: none;
  background: #fff;
  box-shadow: 0 0 $dropShadowWidth 0 $dropShadowColor;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  opacity: 0.8;
  margin-left: $boxPadding;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .nav > li > a {
    padding: 35px 20px 35px 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 1000px) {
  .nav > li > a {
    padding: 35px 20px 35px 20px;
  }
}

.navbar-nav > li > a {
  line-height: normal;
}

.navbar-nav {
  display: table;
  float: none;
  table-layout: fixed;
  font-size: 1.25em;
  font-variant: small-caps;
}

