.navbar {
  border-radius: 0;
  opacity: 1;
}

.nav {
  padding-right: 10px;
}

.navbar-default {
  border: none;
  background: #fff;
  box-shadow: 0 0 $dropShadowWidth 0 $dropShadowColor;
}

.navbar-brand {
  padding: 0;
  opacity: 0.8;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: 7px 0 0 ($boxPaddingSmall + 15px) !important;
    width: 86px;
    height: 35px;
    background-image: url("/image/rms_small.png");
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin: 17px 0 0 $boxPaddingLarge !important;
    background-image: url("/image/rms_med.png");
    width: 123px;
    height: 50px;
    background-size: auto !important;
  }

  .nav > li > a {
    padding: 35px 20px 35px 20px;
    font-size: 1.2em;
  }
}
