/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }
}

h1, h2, h3, h4, h5 {
  font-variant: small-caps;
  font-weight: 100;
  color: black;
}

h5 {
  font-size: 1em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: $backgroundColor;
  background-size: cover;
  margin-top: $header-height + 20;
  margin-bottom: $footer-height;
  width: 100%;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

blockquote {
  border-left-color: #999999;
}

p {
  font-size: 1.1em;
  line-height: 1.4;
  color: #3e3e3e;
  text-align: justify;
}

i {
  margin-right: 5px;
  text-align: center;
  min-width: 16px;
}

.fa-empty {
  margin-right: 21px;
}

.cover {
  background-size: cover !important;
}

.contain {
  background-size: contain !important;
}

