$fa-font-path: "../../node_modules/font-awesome/fonts" !default;
$footer-height: 40px;
$header-height: 50px;

$bgDefault: #002348;
$bgHighlight: #113d78;
$colDefault: #ecf0f1;
$colHighlight: #ffffff;


