$fa-font-path: "../../node_modules/font-awesome/fonts" !default;
$footer-height: 70px;
$header-height: 90px;
$boxPadding: 30px;

$bgDefault: #002348;
$bgHighlight: #113d78;
$colDefault: #ecf0f1;
$colHighlight: #ffffff;
$backgroundColor: rgb(154, 189, 219);

$dropShadowWidth: 3px;
$dropShadowColor: #888888;


